@use 'tokens' as *;

:root {
  font-family: $font-family-base;
  color: $color-text-primary;
  background: $color-surface-page;
}

* {
  box-sizing: border-box;
}

body, * {
  margin: 0;
  padding: 0;
}
